

/* multi col section */
.col-multi {
  display: flex;
  flex-direction: column;
  border: none;
  @media (min-width: 769px) {
    flex-direction: row;
  }
}


.col-multi__card {
  width: 100%;
  @media (min-width: 769px) {
    width: 33.4%;
    min-height: 350px;
  }
}


input [type=text] {
  width: 100%;
}

