

/* multi col section */
.multi-col {
  display: flex;
  flex-direction: column;
  border: none;

}
@media (min-width: 769px) {
  .multi-col {
    flex-direction: row;
    
  }
}

.multi-col__left,
.multi-col__mid,
.multi-col__right {
  width: 100%;
 
}

@media (min-width: 769px) {
  .multi-col__left,
  .multi-col__mid,
  .multi-col__right {
    width: 33.4%;
  }
}

input [type=text] {
  width: 100%;
}

