/* Contact Form */

.contact-form .form-group {
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

.form-section textarea {
  height: 200px;
}

.form-section input:focus,
.form-section textarea:focus {
  outline: none;
  border-color: #93e9be;
}