
/* slides */
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 540px) {
    display: unset;
    overflow-x: unset;
    scroll-snap-type: unset;
    scroll-behavior: unset;
    -webkit-overflow-scrolling: unset;
  } 
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}
